# Authentication
NUXT_AUTH_SECRET=
AUTH_ORIGIN=http://localhost:3000

# Set to "true" to enable Prisma integration, "false" to disable
NUXT_PUBLIC_WITH_PRISMA="true" # This is an example, actual toggle is PRISMA_ENABLED

# PostgreSQL Configuration for Docker (used if PRISMA_ENABLED is true)
POSTGRES_USER=admin
POSTGRES_PASSWORD=password
POSTGRES_DB=nuxtstarter
POSTGRES_PORT=5432

# Prisma Configuration (used if PRISMA_ENABLED is true)
# This URL is constructed using the PostgreSQL variables above
DATABASE_URL="postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@localhost:${POSTGRES_PORT}/${POSTGRES_DB}?schema=public"
PRISMA_ENABLED=true # Set to false to disable Prisma module loading in Nuxt
